body{
	font-family: 'Century Gothic',Calibri ,serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}
header{
	height: 400px;
	text-align: center;
	background-image: url("image.jpg");
	background-repeat: no-repeat;
	background-size: 1500px;
}

footer{
	height: 400px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;

	
}
nav{
	width: 1000px;
	background-color: #424558;
	text-align: center;
	margin:auto;

}
nav ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
nav li{
	list-style-type: none;
	float: left;


	
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: black;
	font-size: 15px;
	text-align: center;
	margin: auto;
	
}
table
{
margin: auto;
}

td
{
text-align :center;
}
.deuxieme
{
	display: flex;
	margin: auto;
	text-align: center;
	margin-left: 100px;
	padding-top: 30px;
}

.prog{
	margin-right: 100px;
	margin-left: 150px;


}
.imgprog{
	border:1px solid green;
	border-radius: 50% 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	margin-right: 60px;
	margin-left: 70px;
	text-align: center;

	
}
.pp{
	text-align: center;
}
.mark{
	margin-left:50px; 
}
.des{
	margin-right: 20px;
	padding-left: 20px;
}
.imgdes{
	border:1px solid green;
	border-radius:  50% 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	margin-right: 110px;
	margin-left: 60px;
}
.imgmark{
	border:1px solid green;
	border-radius:  50% 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	margin-right: 60px;
	margin-left: 70px;
}
.troisieme{
	text-align: center;
	background-color: #C5C5C5;
	
}
.quatop{
	text-align: center;
}
.cinqtop{
	text-align: center;
}

.cinqbottom{
	display: flex;
	margin: auto;
	
}


.cinquieme{
	background-color: teal;
	
}


.wordp{
	width: 600%;
	height: 160px;
}
.htcs{
	width:600% ;
	height: 160px;
}
.can{
	width: 600%;
	height: 160px;
}
.j{
	width: 600%;
	height: 160px;
}


.pd{
	margin-right: 40px;
}

.haut{
	display: flex;
	width: 50px;
	height: auto;
	max-width:100%;
	margin-bottom: 0px;
	
}

.bottom {
	margin: auto;
	text-align: center;
	margin-left: 300px;
}
.cinqbottom{
	margin: auto;
	text-align: center;
	margin-left: 300px;
}
.bas{
	display: flex;
	margin: auto;
	padding-top: 10px;
	position: relative;
	top: -40px;

}
.qualeft{
	display: flex;
	margin: auto;
}
.siexieme{
	text-align: center;
}

.leftone{
	margin: auto;
}
.leftsecond{
	margin: auto;
}

.A{
	
	width:  50px;
	border:1px solid black;
	background-color: blue;
	background-position: center;
}
.first{
	padding-top: 10px;

}


.logo{
	border-radius: 12px;
}
.para{
	color: white;
}
.cpara{
	background-color:  grey;
	display: inline-block;
	font-size: 10px;

}
h4{
	padding-top: 200px ;
	padding-right: 100px;

}

